<h1>DragonBall Page</h1>

<hr>

<section class="row">
    <div class="col-12 col-sm-6">
        <h3>Agregar: {{ name() }} </h3>

        <input 
            type="text" 
            class="form-control" 
            placeholder="Nombre"
            [value]="name()"
            (change)="name.set(txtName.value)"
            (input)="name.set(txtName.value)"
            #txtName
        />
        <!-- Si queremos asignar un valor a un atributo que viene de una variable, señal...
         utilizamos las []. Hay muchas formas de hacerlo, pero esta es una de ellas.  -->
        <!-- El evento (change) se dispara, en este caso, cuando se hace click o se cambia el foco
          fuera de la caja de texto -->
        <!-- El evento (input) se dispara cuando se toca cualquier tecla. Por lo que cualquier letra
         que se escriba en la caja de texto será reflejada en pantalla inmediatamente -->
        <!-- El #txtName es una referencia local.  -->

        <input 
            type="number" 
            class="form-control mt-2" 
            placeholder="Poder"
            [value]="power()"
            (input)="power.set( +txtPower.value )"
            #txtPower
        />
        <!-- El txtPower.value por su cuenta da error, ya que la caja de texto en sí espera texto (string). Para evitar esto, 
         hacemos una transformación añadiendo + al principio de la expresión -->

        <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
    </div>

    <div class="col-12 col-sm-6">
        <h3>Listado fuertes:</h3>
        <ul>
            <!-- Dentro de las variables del for, indicamos el 'let idx = $index'. Con esto lo que estamos pidiendo
             es que Angular por su cuenta nos enumere la lista que hemos hecho (teniendo en cuenta que tenemos un unordered
             list). Dentro del span, añadimos el idx + 1. Los arreglos siempre empiezan por el número 0, y para evitar eso
             añadimos un 1. De esta manera empieza a enumerar los diferentes characters empezando por 1. -->
            @for (character of characters(); track character.id; let idx = $index ) {

                @if ( character.power > 500 ) {
                    <li>
                        <span>{{ idx + 1 }} - {{ character.name }}</span>
                        <!-- Forma tradicional de hacer el class -->
                        <!-- <strong class="text-danger"> ({{ character.power }})</strong> --> 

                        <!-- Aquí estamos indicando que cuando se cumpla la condición de que el poder sea mayor o menor
                        que 9000, se aplica el class.text... -->
                        <strong
                            [class.text-danger]="character.power > 9000"
                            [class.text-primary]="character.power < 9000"
                        > ({{ character.power }})</strong>
                        <!-- También se podría hacer a través de los ngClass: 
                        [ngClass="powerClasses()"] -->
                    </li>
                } @else {
                    <li><strong>Aquí no hay nadie</strong></li>
                }

            }
           
        </ul>
    </div>

</section>