<!--* Se pueden poner estilos en el html también. Siempre es mejor tenerlo por separado.  -->
<style>
    nav {
        display: flex; 
        justify-content: space-around;
        background-color: #212121;
        color: white;
        padding: 10px;
    }

    nav a {
        color: white;
        text-decoration: none;
    }

    nav a.active {
        color: red;
        text-decoration: underline;
    }
</style>

<nav>
    <!--* Esta es la forma original de indicar un anchor tag -->
    <!-- <a href="">Contador</a> -->

     <!--* En Angular se utilizan directivas para ello -->
    <a  routerLink="/" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Contador</a>
        <!-- Para que la ruta indicada en el routerLink aparezca activa, el path tiene -->
        <!-- que ser exactamente como lo estamos definiendo. -->
    

    <a [routerLink]="['/hero']" [routerLinkActive]=" 'active' ">Hero</a>

    <a [routerLink]="['/dragonball']" [routerLinkActive]=" 'active' ">Dragonball</a>

    <!-- OTROS -->

</nav>